.green-small-heading {
    font-size: 14px;
    color: $color-primary;
    font-weight: 800;
    text-transform: uppercase;
}

.white-section-heading {
    font-size: 34px;
    font-weight: 800;
    text-transform: uppercase;
    color: $color-white;
}

.orange-price-color {
    color: $color-secondary;
    font-size: 24px;
    font-weight: 800;
}

.fs-18 {
    font-size: 18px;
    font-weight: 600;
}