// 2nd section
.options__bike {
    @include flexRow;
    color: white;
    gap: 20px;
    &__firstdiv {
        flex: 0 0 65%;
        &--findBikediv {
            background-image: url('../../img/bg-slider-2.jpg');
            width: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            @include flexRow;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            position: relative;
            height: 300px;
            margin-bottom: 50px;
            .bicycle-img-abs {
                position: absolute;
                right: 40px;
            }
        }
        &--freeShipping {
            margin-top: 20px;
            @include flexRow;
            justify-content: space-between;
            &--spareParts {
                flex: 0 0 48%;
                background-image: url('../../img/bg-slider-2.jpg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                padding: 20px 0px 20px 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                p {
                    color: $color-primary;
                }
            }
            &--accessories {
                flex: 0 0 48%;
                background-image: url('../../img/bg-slider-2.jpg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                padding: 20px 0px 20px 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
    &-accessoriesdiv {
        background-image: url('../../img/bg-slider-2.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        flex: 1;
        position: relative;
        overflow: hidden;
        &--innerdiv {
            padding: 20px 0px 20px 20px;
        }
        &--img {
            max-width: 416px;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
        }
    }
}

.advantages__outer__div {
    @include flexRow;
    justify-content: space-between;
    gap: 20px;
    &--card {
        flex: 1;
        text-align: center;
        background-image: url('../../img/bg-slider-2.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 80px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            opacity: 0.2;
            border: 2px solid #fff;
            width: calc(100% - 20px);
            height: calc(100% - 20px);
            z-index: 3;
            -webkit-transition: 0.35s ease;
            transition: 0.35s ease;
            pointer-events: none;
        }
    }
}

.section__subscribe {
    padding: 20px 0px;
    background-image: url('../../img/bg-dark-subscribe.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(75% 98%, 100% 92%, 100% 0, 0 0, 0 92%);
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.342);
        z-index: 1;
    }
    &--outer-div {
        @include flexRow;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
    }
}