.navbar__main {
    width: 100%;
    color: white;
    padding: 10px 0px;
    @include flexRow;
    justify-content: space-between;
}

.navbar__main__links--ul {
    @include flexRow;
    padding: 0px;
    list-style-type: none;
    &--li {
        &--anchor {
            color: $color-white;
            text-decoration: none;
            margin-right: 30px;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            position: relative;
            &::after {
                background: none repeat scroll 0 0 transparent;
                top: -20px;
                content: '';
                display: block;
                height: 4px;
                left: 50%;
                position: absolute;
                background: $color-primary;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
                width: 0;
            }
            &:hover {
                color: $color-primary;
                @include transition02;
                &::after {
                    width: 100%;
                    left: 0;
                }
            }
        }
    }
}

.top-bar {
    @include flexRow;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    color: $color-gray;
    font-size: $default-font-size;
    &::after {
        content: '';
        position: absolute;
        top: 60px;
        height: 1px;
        width: 1125px;
        background-color: $color-gray;
    }
    &__inner {
        @include flexRow;
        justify-content: flex-start;
        flex: 1;
        &--icon-text {
            display: flex;
            align-items: center;
            cursor: pointer;
            font-weight: 500;
            @include transition02;
            &-link,
            &-link:visited {
                color: $color-gray;
                text-decoration: none;
            }
            &-link:hover {
                color: $color-primary;
                @include transition02;
            }
            &:not(:last-child) {
                margin-right: 20px;
            }
            &--nav-icons {
                color: $color-primary;
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
    }
    &__logo {
        flex: 1;
        text-align: center;
    }
    &__right {
        @include flexRow;
        flex: 1;
        justify-content: flex-end;
        &__div--icon {
            cursor: pointer;
            @include transition02;
            &:not(:last-child) {
                padding-right: 10px;
                border-right: 1px solid $color-gray;
            }
            &:nth-child(2) {
                padding: 0 10px;
            }
            &:nth-child(3) {
                padding-left: 10px;
            }
            &:hover {
                color: $color-primary;
                @include transition02;
            }
        }
    }
}

.nav-icons {
    color: $color-primary;
    font-size: 45px;
}