*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #7e7c7c !important;
  font-family: 'Teko', sans-serif !important;
}

section {
  padding: 60px 0px;
}

.container-width {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-family: "Lato", sans-serif;
  /* font-size: 16px; */
  font-weight: 400;
  line-height: 1.7;
}

.disp-flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-alignCenter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.green-small-heading {
  font-size: 14px;
  color: #23c050;
  font-weight: 800;
  text-transform: uppercase;
}

.white-section-heading {
  font-size: 34px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
}

.green-section-heading {
  font-size: 34px;
  font-weight: 800;
  text-transform: uppercase;
  color: #23c050;
}

.orange-price-color {
  color: #f57212;
  font-size: 24px;
  font-weight: 800;
}

.fs-18 {
  font-size: 18px;
  font-weight: 600;
}

.header-background {
  background-image: url(../../img/bg-slider-2.jpg);
  height: 100%;
  -webkit-clip-path: polygon(50% 98%, 100% 92%, 100% 0, 0 0, 0 92%);
          clip-path: polygon(50% 98%, 100% 92%, 100% 0, 0 0, 0 92%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0px 0px 100px 0px;
  width: 100%;
}

.banner__main__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0px 0px 0px;
}

.banner__main__div--content-div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.banner__main__div--content-div .banner-main-heading {
  font-size: 90px;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
}

.banner__main__div--content-div .banner-main-name {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -1px;
  color: #23c050;
  margin-top: -30px;
  padding: 0px;
}

.banner__main__div--content-div .banner-main-price {
  font-size: 48px;
  font-weight: 800;
  color: #f57212;
}

.banner__main__div--content-div .banner-main-button {
  background-color: #23c050;
  border: none;
  color: white;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
}

.banner__main__div--image-div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.banner__main__div--image-div img {
  width: 100%;
  height: 100%;
}

.navbar__main {
  width: 100%;
  color: white;
  padding: 10px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar__main__links--ul {
  padding: 0px;
  list-style-type: none;
}

.navbar__main__links--ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar__main__links--ul--li--anchor {
  color: #fff;
  text-decoration: none;
  margin-right: 30px;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
}

.navbar__main__links--ul--li--anchor::after {
  background: none repeat scroll 0 0 transparent;
  top: -20px;
  content: '';
  display: block;
  height: 4px;
  left: 50%;
  position: absolute;
  background: #23c050;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbar__main__links--ul--li--anchor:hover {
  color: #23c050;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.navbar__main__links--ul--li--anchor:hover::after {
  width: 100%;
  left: 0;
}

.top-bar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  color: #9ca4ab;
  font-size: 1.6rem;
}

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.top-bar::after {
  content: '';
  position: absolute;
  top: 60px;
  height: 1px;
  max-width: 1125px;
  background-color: #9ca4ab;
}

.top-bar__inner {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.top-bar__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.top-bar__inner--icon-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-weight: 500;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.top-bar__inner--icon-text-link, .top-bar__inner--icon-text-link:visited {
  color: #9ca4ab;
  text-decoration: none;
}

.top-bar__inner--icon-text-link:hover {
  color: #23c050;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.top-bar__inner--icon-text:not(:last-child) {
  margin-right: 20px;
}

.top-bar__inner--icon-text--nav-icons {
  color: #23c050;
}

.top-bar__inner--icon-text--nav-icons:not(:last-child) {
  margin-right: 10px;
}

.top-bar__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.top-bar__right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.top-bar__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.top-bar__right__div--icon {
  cursor: pointer;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.top-bar__right__div--icon:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid #9ca4ab;
}

.top-bar__right__div--icon:nth-child(2) {
  padding: 0 10px;
}

.top-bar__right__div--icon:nth-child(3) {
  padding-left: 10px;
}

.top-bar__right__div--icon:hover {
  color: #23c050;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.nav-icons {
  color: #23c050;
  font-size: 45px;
}

.options__bike {
  color: white;
  gap: 20px;
}

.options__bike {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.options__bike__firstdiv {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
}

.options__bike__firstdiv--findBikediv {
  background-image: url("../../img/bg-slider-2.jpg");
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  position: relative;
  height: 300px;
  margin-bottom: 50px;
}

.options__bike__firstdiv--findBikediv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.options__bike__firstdiv--findBikediv .bicycle-img-abs {
  position: absolute;
  right: 40px;
}

.options__bike__firstdiv--freeShipping {
  margin-top: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.options__bike__firstdiv--freeShipping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.options__bike__firstdiv--freeShipping--spareParts {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  background-image: url("../../img/bg-slider-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px 0px 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.options__bike__firstdiv--freeShipping--spareParts p {
  color: #23c050;
}

.options__bike__firstdiv--freeShipping--accessories {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  background-image: url("../../img/bg-slider-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px 0px 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.options__bike-accessoriesdiv {
  background-image: url("../../img/bg-slider-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  overflow: hidden;
}

.options__bike-accessoriesdiv--innerdiv {
  padding: 20px 0px 20px 20px;
}

.options__bike-accessoriesdiv--img {
  max-width: 416px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.advantages__outer__div {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.advantages__outer__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.advantages__outer__div--card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  background-image: url("../../img/bg-slider-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px;
  position: relative;
}

.advantages__outer__div--card::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0.2;
  border: 2px solid #fff;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  z-index: 3;
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
  pointer-events: none;
}

.section__subscribe {
  padding: 20px 0px;
  background-image: url("../../img/bg-dark-subscribe.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(75% 98%, 100% 92%, 100% 0, 0 0, 0 92%);
          clip-path: polygon(75% 98%, 100% 92%, 100% 0, 0 0, 0 92%);
  position: relative;
}

.section__subscribe::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.342);
  z-index: 1;
}

.section__subscribe--outer-div {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.section__subscribe--outer-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
/*# sourceMappingURL=style.css.map */